.alert-box
  .alert-box__log グループを作成しました

.wrapper
  .chat-side
    .chat-side__header
      .chat-side__header__box
        %p.chat-side__header__box__user test-user
        %ul.chat-side__header__box__menu
          %li.chat-side__header__box__menu__new-group
            %a.fa.fa-edit{:href => ""}
          %li.chat-side__header__box__menu__edit-user
            %a.fa.fa-cog{:href => ""}
    .groups
      %a{:href => ""}
        .group
          %p.group__group-name test-group
          %p.group__messages さようなら
      %a{:href => ""}
        .group
          %p.group__group-name sample-group
          %p.group__messages hello!
      %a{:href => ""}
        .group
          %p.group__group-name example
          %p.group__messages まだメッセージがありません

  .chat-main
    .chat-main__header
      .chat-main__header__group-name-box
        %h2.chat-main__header__group-name-box__current-group test-group
        %ul.chat-main__header__group-name-box__member-list
          Member :
          %li.chat-main__header__group-name-box__member-list__member test-user
      %a{:href => ""}
        .edit-btn Edit
    .messages
      .message
        .message__info
          %p.message__info__talker test-user
          %p.message__info__time 2019/3/10 18:00
        %p.message__text こんにちわ！
      .message
        .message__info
          %p.message__info__talker test-user
          %p.message__info__time 2019/3/10 18:30
        %p.message__text さようなら！
    .message-form
      %form{:action => "", :enctype => "", :method => "post"}
        .message-form__box
          %input{:name => "", :placeholder => "type a message", :type => "text"}/
          %label.message-form__box__image{:for => "message_image"}
            %i.fa.fa-image
            %input.message-form__box__image__file{:name => "message[image]", :type => "file"}/
        %input.sent-btn{"data-disable-with" => "sent", :size => "30", :name => "", :type => "submit", :value => "Send"}/








